<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="LogiX"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<stringAttribute key="appid" value="com.iDorosh.LogiX"/>
<stringAttribute key="certificate" value="Ian Dorosh (4N46ED86YH)"/>
<stringAttribute key="debug_config" value="::1406304152801:192.168.1.2"/>
<stringAttribute key="debug_hosts" value="192.168.1.2"/>
<stringAttribute key="device_id" value="bdde367a408e6e9bb4eed2aed9a491e61014b355"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LogiX"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="7.1"/>
<stringAttribute key="uuid" value="D552CABF-33B8-4D45-A826-61C28B33FA8B"/>
</launchConfiguration>
