<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="Dorosh_Ian_Project2"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<stringAttribute key="appid" value="com.doroshian.project2"/>
<stringAttribute key="certificate" value="Ian Dorosh (4N46ED86YH)"/>
<stringAttribute key="debug_config" value="::1406304211413:192.168.1.2"/>
<stringAttribute key="debug_hosts" value="192.168.1.2"/>
<stringAttribute key="device_id" value="0e3cb27a3ad9d4b9ff2e543bcb0d2eba9d428ba3"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dorosh_Ian_Project2"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="7.1"/>
<stringAttribute key="uuid" value="19D71DDE-C099-4E2C-931A-E8498F47685D"/>
</launchConfiguration>
